<div class="mt-4">
  <div class="container">
    <!-- row -->
    <div class="row ">
      <!-- col -->
      <div class="col-12">
        <!-- breadcrumb -->
        <nav [attr.aria-label]="'breadcrumb'">
          <ol class="breadcrumb mb-0">
            <li *ngFor="let item of menuItems | filterBy:'label':null:true; last as isLast"
                class="breadcrumb-item"
                [ngClass]="{'active': isLast}"
                [attr.aria-current]="'page'">
                <ng-container *ngIf="isLast; else elseBlock">{{ item.label }}</ng-container>
                <ng-template #elseBlock><a [routerLink]="item.url">{{ item.label }}</a></ng-template>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
